Nklab/PartialArmTemplates/ArmTemplate_1_6_2019_5_26_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "nklab"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Copy_Multiple_Tables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copies multiple SQL Tables to blob storage",
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tablelist",
								"type": "Expression"
							},
							"batchCount": 10,
							"activities": [
								{
									"name": "Copy Data1",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "SqlSource"
										},
										"sink": {
											"type": "BlobSink"
										},
										"enableStaging": false,
										"dataIntegrationUnits": 0
									},
									"inputs": [
										{
											"referenceName": "SQL_DB_Table",
											"type": "DatasetReference",
											"parameters": {
												"Table_Name": {
													"value": "[concat('[', '@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]')]",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureBlobStorage",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@{item().TABLE_SCHEMA}.@{item().TABLE_NAME}.csv",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"tablelist": {
						"type": "Array"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_DB_Table')]",
				"[concat(variables('factoryId'), '/datasets/AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GetTableListAndTriggerCopyData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetTableList",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "SELECT upper(TABLE_SCHEMA) Table_Schema,  upper(TABLE_NAME) Table_Name FROM information_schema.TABLES"
							},
							"dataset": {
								"referenceName": "SQL_DB_Table",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Call_Copy_Multiple",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "GetTableList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Multiple_Tables",
								"type": "PipelineReference"
							},
							"parameters": {
								"tablelist": {
									"value": "@activity('GetTableList').output.value",
									"type": "Expression"
								}
							}
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_DB_Table')]",
				"[concat(variables('factoryId'), '/pipelines/Copy_Multiple_Tables')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "nklabblob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "String"
					}
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "|",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"compression": {
						"type": "GZip",
						"level": "Optimal"
					},
					"fileName": {
						"value": "@dataset().TableName",
						"type": "Expression"
					},
					"folderPath": "csvfiles"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_DB_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDB",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Table_Name": {
						"type": "String",
						"defaultValue": "[concat('[', 'SalesLT].[Address]')]"
					}
				},
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": {
						"value": "@dataset().Table_Name",
						"type": "Expression"
					}
				}
			}
		}
	]
}